name: Build on PR

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch: {}

jobs:
  printable-recipes-generator:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      checks: write
      issues: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - run: npm ci

      - run: npm run nx run printable-recipe-generator:build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{secrets.GU_ECR_ROLE_ARN}}
      - uses: aws-actions/amazon-ecr-login@v2
        id: ecr-login
        with:
          mask-password: 'true'
        continue-on-error: true
      - name: Build and push
        uses: docker/build-push-action@v5
        env:
          REGISTRY: ${{ steps.ecr-login.outputs.registry }}
          IMAGE_TAG: ${{ github.run_number }}
        with:
          context: printable-recipe-generator/docker
          platforms: linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/recipes-backend/printable-recipes:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      checks: write
      issues: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - run: npm ci
      - run: npm run codegen
      - run: npm run lint
      - run: npm test
        env:
          STATIC_BUCKET: test
          CONTENT_URL_BASE: test
      - run: npm run build
        env:
          IMAGE_TAG: ${{ github.run_number }}
      - uses: guardian/actions-riff-raff@v4
        with:
          projectName: Feast::recipes-backend
          configPath: 'cdk/cdk.out/riff-raff.yaml'
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          contentDirectories: |
            cdk.out:
              - cdk/cdk.out/RecipesBackend-euwest-1-CODE.template.json
              - cdk/cdk.out/RecipesBackend-euwest-1-PROD.template.json
            recipes-backend-testindex:
              - dist/lambda/test-indexbuild-lambda.zip
            recipes-responder:
              - dist/lambda/recipes-responder.zip
            recipes-backend-rest-endpoints:
              - dist/lambda/rest-endpoints.zip
            recipes-publish-todays-curation:
              - dist/lambda/publish-todays-curation.zip
            recipes-facia-responder:
              - dist/lambda/facia-responder.zip
            recipes-reindex-snapshot-recipe-index:
              - dist/lambda/recipes-reindex.zip
            recipes-reindex-write-batch-to-index-queue:
              - dist/lambda/recipes-reindex.zip
            dynamic-fronts-fetcher:
              - dist/lambda/dynamic-fronts-fetcher.zip
            recipes-publish-contributor-information:
              - dist/lambda/profile-cache-rebuild.zip
            update-api-secret:
              - dist/lambda/update-api-secret.zip
